
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{  padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;}

    html{   font-family: 'Archivo', sans-serif;}
    h1{ font-size: 80px; font-weight: 600;}
    h2{font-style: italic;}
    h3{ font-size: 30px;} /*Ocupa 2 columnas*/
    h4{font-size: 30px;}
    p{font-size: 22px;}
    a{font-size: 22px; color: black;}

/*MENU*/

.Logo{ text-decoration: none;
        color: black;
        font-size: 40px;
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
        display: inline-block;
        left: 0px;
        top: 0px;
        z-index: 11;
        margin-left: 20px;
        margin-top: 10px;}

nav{width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;}


#mas-btn{   width: 30px;
            height: 30px;
            z-index: 2;
            padding: 0px;
            cursor: pointer;
            margin-top: 10px;
            margin-right: 20px;
            transition: all .2s ease;
            padding-top: 10px;}

#mas{display: none;}

#mas:checked ~ div.menu{top: 0vh;}

#mas:checked ~ #mas-btn{transform: translate(50%, 50%);
                        transform: rotate(45deg);}

div.menu{   transition: all .5s ease;
            background-color: gainsboro;
            position: fixed;
            height: 100%;
            width: 100%;
            padding-top: 100px;
            top: -100%;
            font-size: 80px;}

.menu{  padding-bottom: 30px;
        padding-right: 40px;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;}

.menu ul{   list-style-type: none;
            text-align: right;}

.nav__item a{ color: white;
                font-size: 80px;}

.nav__item a:hover{ color:black;
                    cursor: pointer;}


/*INDEX*/

.c3 h2{grid-column-start: 2;
       grid-column-end: 4;}
    
.liDobleIndex{  grid-column-start: 2;
                grid-column-end: 4;}

.marginLinks{margin-top: 20px; display: inline-block;}

.marginC3{margin-top: 100px;}

/*BOTÓN*/

.btn{
    color: black;
    background-color: white;
    cursor: pointer;
    height:32px;
    font-size:22px;
    transition: all 0.1s ease-in-out;
    opacity: 0.5;}

.btn:hover {opacity: 1;}

.flexBtn{width: 270px;
        display: flex;
        justify-content: space-between;}


/*HOVER IMG*/


.imgHover{cursor: pointer;
                transition: all 0.1s ease-in-out;
                opacity: 1;}

.imgHover:hover{cursor: pointer;
        transition: all 0.1s ease-in-out;
        opacity: 0.5;}


/*PÁGINA PROYECTO A*/     

div.master{width: 100%;
            padding: 20px;}
        
main{margin-top: 200px;}

.c3{display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    position: relative;
    align-items: start;
    margin-right: 50px;
    margin-top: 200px;}

.galeria{grid-column-start: 2;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;}

.titleContainer{grid-column-start: 2;
                grid-column-end: 4;}

ul{list-style: none;}
            
img{width: 100%;}

.info{position: sticky;
        top: 350px;}

.liDoble{grid-column-start: 1;
        grid-column-end: 3;}

.c3Pro{display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 20px;
        position: relative;
        align-items: start;
        margin-right: 50px;
        margin-top: 200px;}

/*FOOTER*/

footer{height: 70vh;
        padding: 20px;
        margin-top: 200px;
        background-color: black;}


footer h1{ font-size: 80px; font-weight: 600; color: white;}
footer h2{font-style: italic; color: white;}
footer h3{ font-size: 30px; color: white;}       /*Ocupa 2 columnas*/
footer h4{font-size: 30px; color: white;}
footer p{font-size: 22px; color: white;}
footer a{font-size: 22px; color: white;}

.menuFooter h4:hover{color:darkgray; cursor: pointer;}

.formulario{grid-column-start: 2; grid-column-end: 4;}

input, textarea, select, option{border: none;
                                font-size: 22px;
                                color: black;
                                border-bottom: 2px solid lightgrey;
                                font-family: 'Archivo', sans-serif;
                                width: auto;}

textarea{   border: 1px solid lightgray;
            font-size: 15px;
            margin-top: 10px;}

option{font-size: 12px;}

input::placeholder {color: white;
                    background-color: black;}

.c3Footer{display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            gap: 20px;
            row-gap: 80px;
            position: relative;
            align-items: start;
            margin-right: 50px;
            margin-top: 100px;
            margin-left: 10px;}

.btnFooter{ color: white;
            background-color: black;
            cursor: pointer;
            height:32px;
            font-size:22px;
            transition: all 0.1s ease-in-out;
            opacity: 0.5;}

.btnFooter:hover {opacity: 1;}

.noDisplay{padding: 1px;}


/*---------------@MEDIA-------------------*/

@media screen and (max-width: 980px){
    
.Logo{ text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    display: inline-block;
    left: 0px;
    top: 0px;
    z-index: 11;
    margin-left: 20px;
    margin-top: 10px;}

nav{width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;}

#mas-btn{   width: 20px;
            height: 20px;
            z-index: 2;
            padding: 0px;
            cursor: pointer;
            margin-top: 20px;
            margin-right: 20px;
            transition: all .2s ease;}

#mas{display: none;}

#mas:checked ~ div.menu{top: 0vh;}

#mas:checked ~ #mas-btn{transform: translate(50%, 50%);
                        transform: rotate(45deg);}

div.menu{   transition: all .5s ease;
            background-color: gainsboro;
            position: fixed;
            height: 100%;
            width: 100%;
            padding-top: 100px;
            top: -100%;
            font-size: 80px;}

.menu{  padding-bottom: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;}

.menu ul{   list-style-type: none;
            text-align: right;}

.nav__item a{color: white;
            font-size: 40px;}

.nav__item a:hover{ color:black;
                    cursor: pointer;}

.c3{display: block;}

div.c3{margin-right: 0px;}

.c3Pro{ margin-top: 100px;
        margin-right: 0px;}


.noDisplay{display: none;}

.c3Footer{  display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 50px;
            row-gap: 10px;
            position: relative;
            align-items: start;
            margin-right: 10px;
            margin-top: 50px;
            margin-left: 10px;}

.info{  display: block;
        position:static;}

h1{ font-size: 40px; font-weight: 600;}
h2{font-style: italic; font-size: 15px; margin-bottom: 20px;}
h3{font-size: 15px; margin-top: 10px; margin-bottom: 10px;} /*Ocupa 2 columnas*/
h4{font-size: 15px; margin-top: 10px; margin-bottom: 10px;}
p{font-size: 12px; margin-top: 10px; margin-bottom: 10px;}
a{font-size: 12px; color: black;}

.gridMedia{ display: grid;
            grid-template-columns: 1fr 1fr;}

.btn{color: black;
    background-color: white;
    cursor: pointer;
    height:32px;
    font-size:12px;
    transition: all 0.1s ease-in-out;
    opacity: 0.5;}

.marginLinks{margin-top: 10px; display: inline-block;}
.marginC3{margin-top: 50px;}
.textoDestacado{margin-top: 50px;}

.liDobleIndex{  grid-column-start: 1;
                grid-column-end: 4;}

input, textarea, select, option{border: none;
                                font-size: 22px;
                                color: black;
                                border-bottom: 2px solid lightgrey;
                                font-family: 'Archivo', sans-serif;
                                width: auto;
                                display: inline-block;
                                width: 100%;}

textarea{border: 1px solid lightgray;
        font-size: 15px;
        margin-top: 10px;}


.formulario{display: grid;
            width: 50%;
            row-gap: 10px;}

footer{height: 50vh;
        padding: 20px;
        margin-top: 60px;
        background-color: black;}
        


footer h1{ font-size: 40px; font-weight: 600; color: white;}
footer h2{font-style: italic; color: white;}
footer h3{font-size: 15px; color: white;}/*Ocupa 2 columnas*/
footer h4{font-size: 15px; color: white;}
footer p{font-size: 12px; color: white;}
footer a{font-size: 12px; color: white;}

footer .noDisplay {display: block;}

input, textarea, select{border: none;
                        font-size: 12px;
                        color: black;
                        border-bottom: 2px solid lightgrey;}

input::placeholder {color: white;   
                    background-color: black;}

.btnFooter{ color: white;
            background-color: black;
            cursor: pointer;
            height:15px;
            font-size:12px;
            transition: all 0.1s ease-in-out;
            opacity: 0.5;}}   